
  <!--header-->
  <section class="header">
    <nav class="navbar navbar-expand-sm">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" style="color: #ED3C2E" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SERVICES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">OUR TEAM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONTACT US</a>
          </li>
        </ul>
      </div>
    </nav>
  </section>
  <!--content-->
  <div class="content">
    <div class="logo">
      <img src="assets/animations/top-animation.gif" class="top-animation" alt="">
      <img src="assets/images/etalis.png" class="etalis" alt="">
      <img src="assets/images/m-beyond.png" class="m-behind" alt="">
      <img src="assets/images/m-behind.png" class="m-beyond" alt="">
      <img src="assets/images/wale-1.png" class="wale-1" alt="">
      <img src="assets/images/wale-2.png" class="wale-2" alt="">
      <img src="assets/images/wale-3.png" class="wale-3" alt="">
      <img src="assets/images/wale-4.png" class="wale-4" alt="">
    </div>
    <section class="services">
      <h2>Рецепт быстрого приготовления хумуса.</h2>

      <p>Хумус — быстро, вкусно, — и ничего лишнего. Этот рецепт был составлен из других рецептов, которые мне
        попадались
        в течение многих лет.</p>

      <p style="font-style: italic;">Хумус — это вкусная густая паста, широко используемая в Греческих и Ближневосточных
        блюдах. Очень вкусно есть его с салатами, мясом на гриле и питой.</p>

      <h3>Ингредиенты</h3>
      <ul>
        <li>1 банка (400г) турецкого гороха (или бараньего гороха)</li>
        <li>175г тахини</li>
        <li>6 вяленых томатов</li>
        <li>Половинка красного перца</li>
        <li>Щепотка кайенского перца</li>
        <li>1 зубчик чеснока</li>
        <li>Чуть-чуть оливкового масла</li>
      </ul>
      <h3>Рецепт</h3>
      <ol>
        <li>Очистите чеснок от кожуры и крупно нарежьте.</li>
        <li>Удалите стебель и семена у перца; крупно нарежьте перец.</li>
        <li>Добавьте все ингредиенты в пищевой комбайн.</li>
        <li>Измельчите все ингредиенты до состояния пасты.</li>
        <li>Если вы хотите "грубый" хумус, измельчайте пару минут.</li>
        <li>Если вам нужен гладкий хумус, измельчайте дольше.</li>
      </ol>
      <p style="font-style: italic;">По вкусу вы также можете добавить в небольших количествах лимон с кориандром, перец
        чили, лайм с чипотле, хариссу с мятой или же шпинат с брынзой. Попробуйте и решите, что подойдёт вам.
      <p>

      <h3>Хранение</h3>

      <p>Храните хумус в запечатанном контейнере в холодильнике. Хумус хранится примерно неделю после приготовления.
        Если
        он начнёт пениться, выкидывайте его.</p>

      <h4>Хумус можно хранить в морозильном отделении 2–3 месяца.</h4>
    </section>
    <section class="our-team">

    </section>
    <div class="form-group">

    </div>
  </div>
  <!--footer-->


